:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgba(0, 0, 40, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --text-decor-color: rgba(0, 0, 40, 1);
  --main-text-color: rgba(241, 178, 206, 1);
  --section-title-color: rgba(255, 0, 112, 1);
  --rec-display: initial;
  --theme-menu-color: rgba(255, 0, 112, 1);
  --theme-menu-color-hover: rgba(255, 0, 112, 0.4);
  --decorated-zone-color: rgba(255, 0, 112, 1);
}