/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: rgb(0 2 45);
  --main-font: 'IBM Plex mono', sans-serif;
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --text-decor-color: rgba(0, 0, 40, 1);
  --main-text-color: rgba(241, 178, 206, 1);
  --section-title-color: rgba(255, 0, 112, 1);
  --rec-display: initial;
  --theme-menu-color: rgba(255, 0, 112, 1);
  --theme-menu-color-hover: rgba(255, 0, 112, 0.4);
}