/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-light.png);
  --bg-color:  rgba(255, 241, 247);
  --main-font: 'IBM Plex mono', sans-serif;
  --accent-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --text-decor-color: rgba(53, 52, 48, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --rec-display: none;
  --theme-menu-color: rgba(53, 52, 48, 1);
  --theme-menu-color-hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color:  rgba(255, 241, 247);
  --main-font: 'IBM Plex mono', sans-serif;
  --accent-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --text-decor-color: rgba(53, 52, 48, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --rec-display: none;
  --theme-menu-color: rgba(53, 52, 48, 1);
  --theme-menu-color-hover: rgba(50, 49, 45, 0.4);
  }

  
} 