:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color:  rgba(255, 241, 247);
  --accent-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --text-decor-color: rgba(53, 52, 48, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --rec-display: none;
  --theme-menu-color: rgba(53, 52, 48, 1);
  --theme-menu-color-hover: rgba(50, 49, 45, 0.4);
  --decorated-zone-color: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color:  rgba(255, 241, 247);
  --accent-color: rgba(255, 141, 203, 1);
  --title-color: rgba(255, 194, 230, 1);
  --text-decor-color: rgba(53, 52, 48, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --rec-display: none;
  --theme-menu-color: rgba(53, 52, 48, 1);
  --theme-menu-color-hover: rgba(50, 49, 45, 0.4);
  --decorated-zone-color: rgba(53, 52, 48, 1);
  }

  
} 